html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#pilotViewCanvas {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

.pip-canvas {
  position: absolute;
  display: block;
  border: 1px solid #555;
}
